name: Deploy

on: [push]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v1

      - name: Copy repository contents via scp
        uses: appleboy/scp-action@master
        env:
          HOST: ${{ secrets.HOST }}
          USERNAME: ${{ secrets.USERNAME }}
          PORT: ${{ secrets.PORT }}
          KEY: ${{ secrets.SSHKEY }}
        with:
          source: "Dockerfile.prod,src,package.json,tsconfig.json,yarn.lock,docker-compose.prod.yml,.dockerignore"
          target: ${{ secrets.WORK_DIR }}

      - name: Executing remote command
        uses: appleboy/ssh-action@master
        with:
          host: ${{ secrets.HOST }}
          USERNAME: ${{ secrets.USERNAME }}
          PORT: ${{ secrets.PORT }}
          KEY: ${{ secrets.SSHKEY }}
          command_timeout: 20m
          script: |
            cd ${{ secrets.WORK_DIR }}
            mv docker-compose.prod.yml docker-compose.yml
            docker-compose build --no-cache
            docker-compose restart
            cd ..
            docker-compose restart
